@font-face {
  font-family: "Bubbleboddy Neue Regular";

  src: url(.../fonts/Piñata - BubbleboddyNeue-trial.ttf) format("otf");
}
@font-face {
  font-family: "Bubbleboddy Neue Trial thin";
  src: url("../fonts/BubbleboddyNeueThin-trial.ttf") format("ttf");
}
