@import "reset.css";
@import "fonts.css";


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

.hover {
  opacity: 0.5;
}

.hover:hover {
  opacity: 1;
}
.star {
  margin-top: -100px;
  width: 1024px;;
}

.info {
  margin-top: -135px;
  position: relative; z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
}
.info h1 {
  font-size: 85px;
  text-align: center;

  font-family: Bubbleboddy Neue Regular, sans-serif;
  color: white;
}
.info h2 {
  font-size: 45px;
  text-align: center;
  padding-top: 10px;

  font-family: Bubbleboddy Neue Trial thin, sans-serif;
  color: white;
}
.contain-info {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

  font-family: Bubbleboddy Neue Trial thin, sans-serif;
  color: white;
}
.contain-info p {
  font-size: 33px;
}

.contain-info ul {
  padding-top: 20px;
  font-size: 33px;
  text-align: center;

 }
 .contain-info li {
   list-style-type: none;
}
.contain-info li::before {
  content: "- ";
}
.goods {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 380px 380px;
  grid-template-rows: 455px 455px;
  padding-left: 132px;
}

.red {
  padding-left: 40px;
  width: 300px;
}

.white {
  padding-left: 40px;
  width: 300px;
}

.yellow {
  padding-left: 40px;
  width: 300px;
}

.blue {
  padding-left: 40px;
  width: 300px;
}

.one {
  position: relative; z-index: 2;
}

.two {
  position: relative; z-index: 3;
}

.three {
  position: relative; z-index: 4;
}

.four {
  position: relative; z-index: 5;
}

.goods p {
  font-family: Bubbleboddy Neue Trial thin, sans-serif;
  color: white;
  text-align: center;
  font-size: 33px;
}
.goods p.hover {
  padding-top: 10px;
  font-size: 25px;
}
 footer {
   padding-top: 25px;
   background-color: black;
   width: 100%;
   padding-bottom: 20px;

   font-family: Bubbleboddy Neue Regular, sans-serif;
   color: white;
   text-align: center;
 }
.lenta {
  width: 1024px;
  height: 15px;
}
.ground {
  width: 1024px;
  position: absolute;
  margin-top: -950px;
}

.container {
  width: 768px;
  background-color: black;
}

.buy {
display: block;
float: left;

font-family: Bubbleboddy Neue Regular, sans-serif;
color: white;
display: inline-block;
font-size: 25px;
}

.menu {
  background-color: black;
  width: 100%;
}

.menu ul {
  position: relative;
  font-size: 25px;
  font-family: Bubbleboddy Neue Trial thin, sans-serif;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1024px) {
  #sidebar {display: none;}
}
